language: node_js
node_js:		
  - "7"
addons:
  apt:
    packages:
      - xvfb
install:
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
  - npm install
branches:
  only: master
script:
  - npm run test
  - npm run lint
  - npm run build:gh
after_script:
  - cat ./test/coverage/report-lcovonly.txt | coveralls
  - cd dist
  - git init
  - git config user.name "hwen"
  - git config user.email "hwenleung@gmail.com"
  - git add .
  - git commit -m "Travis build docs"
  - git push  --force --quiet "https://${GITHUB_TOKEN}@github.com/SME-FE/sme-router.git" master:gh-pages
